* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

.banner {
  background-image: url(../src/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 230px 0 120px;
}
@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}
@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}
.banner__container {
  z-index: 1;
  position: relative;
  text-align: center;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  color: #fff;
  font-weight: 900;
  margin-bottom: 31px;
}
@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
}
@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 41px;
  }
}
.banner__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .banner__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 92px;
  }
}
@media (max-width: 767px) {
  .banner__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 59px;
  }
}
.banner__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #FF4343;
  padding: 26px;
  display: block;
  max-width: 370px;
  text-decoration: none;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.banner__btn:hover {
  background-color: #b71013;
  transform: scale(1.05);
}
@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .banner__btn {
    max-width: 280px;
    padding: 17px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0 36px;
  border-bottom: 1px solid #babbc5;
}
@media (max-width: 1024px) {
  .header {
    padding: 37px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 19px 0;
    border-bottom: none;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  max-width: 184px;
  display: flex;
}
@media (max-width: 1024px) {
  .header .logo {
    max-width: 181px;
  }
}
@media (max-width: 767px) {
  .header .logo {
    max-width: 109px;
  }
}
.header__menu {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 18px;
  display: none;
}
@media (max-width: 767px) {
  .header__menu {
    display: flex;
  }
}

.nav {
  display: flex;
  gap: 40px;
}
@media (max-width: 1024px) {
  .nav {
    gap: 25px;
  }
}
.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 15px;
  opacity: 0.8;
  transition: opacity 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease;
}
.nav__link:hover {
  transform: scale(1.1);
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 12px;
    line-height: 14px;
  }
}
.nav__link:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.features {
  padding: 116px 0;
}
@media (max-width: 1024px) {
  .features {
    padding: 79px 0;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 89px;
}
@media (max-width: 1024px) {
  .features__container {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .features__container {
    grid-template-columns: 1fr;
    row-gap: 41px;
  }
}

.feature {
  text-align: center;
}
.feature__wrapper-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 51px;
}
@media (max-width: 1024px) {
  .feature__wrapper-image {
    width: 85px;
    height: 84px;
    margin: 0 auto 45px;
  }
}
@media (max-width: 767px) {
  .feature__wrapper-image {
    width: 75px;
    height: 74px;
    margin: 0 auto 38px;
  }
}
.feature__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 42px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .feature__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .feature__title {
    margin-bottom: 8px;
  }
}
.feature__text {
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .feature__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.works__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  padding: 0;
}
@media (max-width: 1024px) {
  .works__container {
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .works__container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

.project__content {
  aspect-ratio: 378/340;
  position: relative;
  display: flex;
}
.project__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__name {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 67, 67, 0.8);
  opacity: 0;
  transition: all 0.4s linear;
  flex-direction: column;
}
.project__name:hover {
  opacity: 1;
}
.project__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 36px;
}
@media (max-width: 1024px) {
  .project__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
  }
}
@media (max-width: 767px) {
  .project__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
}
.project__text {
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 1024px) {
  .project__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  .project__text {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=style.css.map */