* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$container: 1210px;
$padding: 20px;
$primary: #ff4343;
$title: #2d3033;
$text: #6c7279;
$tablet: 1024px;
$mobile: 767px;
$text-color-primary: #fff;

body {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: $container;
  padding: 0 $padding;
  margin: 0 auto;
}
.banner {
  background-image: url(../src/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 230px 0 120px;

  @media (max-width: $tablet) {
    padding: 257px 0 126px;
  }

  @media (max-width: $mobile) {
    padding: 106px 0 52px;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #252b49;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__container {
    z-index: 1;
    position: relative;
    text-align: center;
  }

  &__title {
    font-size: 64px;
    line-height: 75px;
    color: $text-color-primary;
    font-weight: 900;
    margin-bottom: 31px;

    @media (max-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 62px;
    }

    @media (max-width: $mobile) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 41px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: $text-color-primary;
    margin-bottom: 80px;

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 92px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 59px;
    }
  }

  &__btn {
    font-size: 24px;
    line-height: 28px;
    color: $text-color-primary;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $primary;
    padding: 26px;
    display: block;
    max-width: 370px;
    text-decoration: none;
    margin: 0 auto;
    transition: all 0.2s linear;

    &:hover {
      background-color: #b71013;
      transform: scale(1.05);
    }

    @media (max-width: $tablet) {
      max-width: 314px;
      padding: 25px;
    }

    @media (max-width: $mobile) {
      max-width: 280px;
      padding: 17px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0 36px;
  border-bottom: 1px solid #babbc5;

  @media (max-width: $tablet) {
    padding: 37px 0;
  }

  @media (max-width: $mobile) {
    padding: 19px 0;
    border-bottom: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-width: 184px;
    display: flex;

    @media (max-width: $tablet) {
      max-width: 181px;
    }

    @media (max-width: $mobile) {
      max-width: 109px;
    }
  }
  &__menu {
    background-color: transparent;
    border: none;
    width: 25px;
    height: 18px;
    display: none;

    @media (max-width: $mobile) {
      display: flex;
    }
  }
}

.nav {
  display: flex;
  gap: 40px;

  @media (max-width: $tablet) {
    gap: 25px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    opacity: 0.8;
    transition: opacity 0.3s;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 14px;
    }

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.features {
  padding: 116px 0;

  @media (max-width: $tablet) {
    padding: 79px 0;
  }

  @media (max-width: $mobile) {
    padding: 40px 0 35px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 31px;
    row-gap: 89px;

    @media (max-width: $tablet) {
      column-gap: 20px;
      row-gap: 50px;
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      row-gap: 41px;
    }
  }
}

.feature {
  text-align: center;

  &__wrapper-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 51px;

    @media (max-width: $tablet) {
      width: 85px;
      height: 84px;
      margin: 0 auto 45px;
    }

    @media (max-width: $mobile) {
      width: 75px;
      height: 74px;
      margin: 0 auto 38px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    margin-bottom: 42px;
    text-transform: uppercase;

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 24px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 8px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    color: $text;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.works {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 0;

    @media (max-width: $tablet) {
      max-width: 100%;
      padding: 0;
    }

    @media (max-width: $mobile) {
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
    }
  }
}

.project {
  &__content {
    aspect-ratio: 378/340;
    position: relative;
    display: flex;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255, 67, 67, 0.8);
    opacity: 0;
    transition: all 0.4s linear;
    flex-direction: column;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 36px;

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 23px;
    }

    @media (max-width: $mobile) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 7px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.persons {
  padding: 114px 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    @media (max-width: $tablet) {
      column-gap: 25px;
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      row-gap: 56px;
    }
  }
}

.people {
  &__content {
    aspect-ratio: 270/270;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 31px;

    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  &__list {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 6px;
    list-style: none;
    display: flex;
    margin-bottom: 114px;

    @media (max-width: $tablet) {
      column-gap: 4px;
      margin-bottom: 78px;
    }

    @media (max-width: $mobile) {
      column-gap: 5px;
      margin-bottom: 49px;
    }
  }

  &__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 6px;
    color: $title;

    @media (max-width: $tablet) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 4px;
    }

    @media (max-width: $mobile) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 5px;
    }
  }

  &__position {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: $primary;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 22px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 38px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 21px;
    color: $text;
    margin-bottom: 38px;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 39px;
    }

    @media (max-width: $mobile) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 55px;
    }
  }

  &__link {
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    border: 1px solid #c6cbcd;

    @media (max-width: $tablet) {
      column-gap: 4px;
      margin-bottom: 78px;
    }

    @media (max-width: $mobile) {
      column-gap: 5px;
      margin-bottom: 49px;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.testimonials {
  @media (max-width: $tablet) {
    max-width: 1024px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  &__swiper {
    padding: 0 0 45px;
    .swiper-pagination {
      bottom: 0;
      display: flex;
      column-gap: 25px;
      justify-content: center;
    }
  }
}

#testimonials {
  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 1px solid #7e5d6f;
    border-radius: 50%;
    background-color: transparent;
    margin: 0;
    opacity: 1;

    &-active {
      background-color: #7e5d6f;
    }
  }
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 31px;
  background-color: #7e5d6f;
  padding: 0 20px;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  &__wrapper-photo {
    aspect-ratio: 570 / 490;
    display: flex;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__quote {
    padding: 40px 0;
    color: #fff;

    @media (max-width: $tablet) {
      color: #fff;
    }
  }
}

.quote {
  &__text {
    font-family: "Cardo", serif;
    font-size: 36px;
    line-height: 49px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 144px;
    color: #fff;

    @media (max-width: $tablet) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 15px;
    }
  }

  &__autor {
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: $tablet) {
      font-size: 12px;
      line-height: 14px;
      font-weight: 700;
    }

    @media (max-width: $mobile) {
      margin-bottom: 95px;
    }
  }
}

.download {
  &__container {
    padding: 132px 0 114px;
    text-align: center;

    @media (max-width: $tablet) {
      padding: 94px 0 78px;
    }

    @media (max-width: $mobile) {
      padding: 65px 0 45px;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    margin-bottom: 22px;

    @media (max-width: $tablet) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 21px;
    }

    @media (max-width: $mobile) {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 11px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 46px;
    }

    @media (max-width: $mobile) {
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 13px;
    }
  }

  &__btn {
    font-size: 24px;
    line-height: 28px;
    color: $text-color-primary;
    font-weight: 900;
    text-transform: uppercase;
    background-color: $primary;
    padding: 26px;
    display: block;
    max-width: 370px;
    text-decoration: none;
    margin: 0 auto;
    transition: all 0.2s linear;

    &:hover {
      background-color: #b71013;
      transform: scale(1.05);
    }

    @media (max-width: $tablet) {
      max-width: 313px;
      padding: 29px;
      font-size: 18px;
      line-height: 21px;
    }

    @media (max-width: $mobile) {
      max-width: 280px;
      padding: 29px;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

.contact {
  &__container {
    padding: 71px 0 67px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
  }

  &__location-title{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 29px;
    max-width: 370px;
    text-transform: uppercase;
  }

  &__location-text{
    font-size: 18px;
    line-height: 21px;
    max-width: 370px;
  }

  &__share-title{
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 49px;
    max-width: 370px;
    text-transform: uppercase;
  }

  &__link{
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c6cbcd;
  }
}


